body{background-color:#e1f5fe;font-family:tahoma;}
#header{background-color:#424242;width:100%;padding:10px;top:0;position:fixed;}
#headerkecil{background-color:#424242;width:100%;padding:10px;top:0;position:fixed;display:none;}
#headerkiri{width:40%;float:left;margin:5px;}
#headerkirikecil{width:40%;float:left;margin:5px;display:none;}
#headermenukiri{width:15%;float:left;}
#headermenukanan{width:15%;float:right;margin-right:10px;}

#headerkiri font{color:white;margin-left:3%;}
#headerkanan{width:50%;float:right;margin-right:0px;}
#headerkanankecil{display:none;width:30%;float:right;margin:5px;}
#headerkanan font{color:white;}
#headerkanan a{color:white;}
#content-wrapper{max-width:1500px;margin-top:3.5%;position:relative;}
#content-left{height:400px; width:190px;float:left; background-color:#b3e5fc; margin-left:15px;margin-top:-5px;}
#content-right{width:1120px;float:right;margin-right:15px;}
/*---------------------------------------------------------*/


/*---------------------------------------------------------*/
#chat_mhs{background-color:#c5e1a5;border-radius:20px;border-top-left-radius:0px;	float:left;width:35%;padding:10px;margin-bottom:6px;}
#chatkiri{float:left;width:10px;height:10px;background-position:center center;	background-image:url(../images/kanan.svg);background-size:10px 10px;background-repeat:no-repeat;}
#chat_dos{background-color:#9ccc65;border-radius:20px;border-top-right-radius:0px;	float:right;width:35%;padding:10px;	margin-bottom:6px;}
#tanggal{color:#33691e;font-size:15px;}
#tajud{margin:5px 5px 5px 14px;}
#konsultasi{color:black;font-size:18px;}
#status{float:right;margin-right:5px;font-size:15px;color:#0d5302;}
#chatkanan{float:right;width:10px;height:10px;background-position:center center;	background-image:url(../images/kiri.svg);background-size:10px 10px;background-repeat:no-repeat;}
#tanggaldos{float:right;margin-right:5px;color:#f1f8e9;font-size:15px;}
#tajudd{margin:20px 14px 5px 5px;}
/*---------------------------------------------------------*/

/* =Layout Footer
---------------------------------------------------------------*/
#footer{border-top:1px solid #2a36b1;font-size:smaller;	padding-top:5px;text-align:right;}
#footer a{color:black;}

/* =Table
---------------------------------------------------------------*/
table{background: white; }
table th{font-weight:bold;text-align:center;padding:10px;border-bottom:double;}
table td{text-align:left;padding:6px 15px; border-bottom: 1px #eaeaea solid;}
table td a {margin-right: 10px;}
.zebra {background:white;}

/* =Form---------------------------------------------------------------*/
form{padding:10px;}
p label{display:block;float:left;margin-right:10px;text-align:right;width:140px;}
form p{margin-bottom:10px;}
#submit{margin-left:150px;font-size: 9pt; color:black;font-weight:bold;text-decoration: none; border-radius:5px; padding-right:5px;padding-left:20px;padding-top: 3px;  padding-bottom: 3px;background-color:#6F6; background-position: 2px center;   background-repeat: no-repeat;}
.form_field{border:#666 solid 1px;}
.form_field:focus{background-color:#F9E9A9;}
.field_error{clear:both;color:#F00;margin-left:150px;}
fieldset{border:1px solid;padding-left:10px;margin-bottom:10px;}
#katalog{background-color:#8bc34a;border-radius:10px;padding:7px;cursor:pointer;float:right;color:white;}
#katalog a{text-decoration:none; color:white;}

/* =Link
---------------------------------------------------------------*/
#submit,
a.add,
a.edit,
a.delete,
a.cancel,
a.download,
a.upload,
a.baru,
a.tolak,
a.oyi,
a.jadi,
a.gajadi,
a.excel,
a.pass,
a.detail,
a.buku,
a.setting,
a.pdf {font-size: 9pt; color:white; font-weight:bold;text-decoration: none; border-radius:5px; padding-right:5px;padding-left:20px;padding-top: 3px;  padding-bottom: 3px;background-color:#c51162; background-position: 2px center;   background-repeat: no-repeat;}
#submit:hover,
a.add:hover,
a.edit:hover,
a.delete:hover,
a.cancel:hover,
a.excel:hover,
a.download:hover,
a.upload:hover,
a.baru:hover,
a.tolak:hover,
a.oyi:hover,
a.detail:hover,
a.jadi:hover,
a.gajadi:hover,
a.pass:hover,
a.buku:hover,
a.setting:hover,
a.pdf:hover {color:#DDDDDD;background-color: #666666;}
#submit{background-image:url("../images/simpan.PNG");}
a.setting{background-image:url("../images/setting.png");}
a.add {background-image:url("../images/icon_add.png");}
a.edit {background-image:url("../images/edit.png");}
a.delete {background-image:url("../images/hapus.png");}
a.cancel {background-image:url("../images/back.png");}
a.download{background-image:url("../images/download.png");}
a.upload{background-image:url("../images/upload.png");}
a.detail {background-image:url("../images/detail.png");}
a.baru {background-image:url("../images/tulis.png");}
a.tolak {background-image:url("../images/tolak.png");}
a.oyi{background-image:url("../images/oyi.png");}
a.jadi{background-image:url("../images/jadi.png");}
a.gajadi{background-image:url("../images/gajadi.PNG");}
a.pass{background-image:url("../images/pass.png");}
a.buku{background-image:url("../images/buku.png");}
a.excel {background-image:url("../images/file_excel.png");}
a.pdf {background-image:url("../images/file_pdf.png");}

/* =Pagination
---------------------------------------------------------------*/
#pagination{margin-bottom:20px;margin-top:20px;color: #212121;}
#pagination a{text-decoration:none;border-radius:10px;background-color:#212121;color:#b3e5fc;padding-top:4px; padding-left:14px; padding-bottom:7px; padding-right:14px;}
#pagination a:hover{background-color:#e51c23;}
#pagination strong {padding-top:4px; padding-left:14px; padding-bottom:7px; padding-right:14px;border-radius:10px;background-color:#e51c23; color:#000000;}

/* =Error404
---------------------------------------------------------------*/
.error_header{font-size: 3em;}
.error_content{font-size: 4em;}

/* =Misc
---------------------------------------------------------------*/
h2{border-bottom:1px solid #2a36b1;font-size:1.5em;font-weight:bold;margin-bottom:10px;}
div.pesan{color:#900;font-weight:bold;margin-bottom:10px;background-color:#6F6;border-radius:10px;padding:5px;border:1px solid #090;}
div#bottom_link{margin:15px 0;}
input{background-color:white;border-radius:5px;padding:5px;}
select{	background-color:white; border-radius:5px;padding:5px;}
#menucilik{display:none;}
#menucilik li{padding:2px;margin-bottom:2px;list-style:none;margin-left:-20px;}
#menucilik li a{color:white;text-decoration:none;}
#menu{background-color:#b3e5fc;}
#menu li{padding:2px;margin-bottom:5px;list-style:none;margin-left:-20px;}
#menu li a{color:black;display:block;text-decoration:none;}
#menu li.active{background-color:#81d4fa;}
#menu li.active a{background-color:#004d40;font-weight: bold;}

#menumaster{background-color:#81d4fa;}
#menumaster li{padding:2px;margin-bottom:5px;list-style:none;margin-left:-20px;}
#menumaster li a{color:black;display:block;text-decoration:none;}